body {
  background-color: #c3bef0;

  font-style: italic;
  font-weight: lighter;
  font-stretch: semi-expanded;
}
img{
  border-radius: 100%;
}
h1{
  color: #53354a;
  text-align: center;
  font-weight: bolder;

}
h3{
  color: #323232;
  font-style: normal;
  font-weight: bolder;
}
hr {
  text-align: center;
  background-color: inherit;
  border-style: dotted none none;
  border-width: 5px;
  width: 8%;
  height: 0px;
}
